<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Dans index.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- Navigation Bar -->
<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <i class="fas fa-crown"></i>
      <span>ROYELLAS <span class="hotel-name">HOTEL</span></span>
    </div>

    <!-- Search f wast -->
    <div class="nav-search">
      <input type="text" placeholder="Search rooms by number..." class="search-input"
             (keyup)="searchRoom($event.target.value)">
      <button class="search-btn"><i class="fas fa-search"></i></button>
    </div>

    <ul class="nav-menu">
      <li *ngFor="let item of navItems">
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
        >
          {{ item.name }}
        </a>
      </li>

    </ul>
  </div>
</nav>

<section class="catalogue" id="catalogue">
  <div class="container">

    <div class="filters">

      <!-- Filter by Type -->
      <div class="filter-card">
        <h3>Type Room</h3>
        <select (change)="onTypeChange(($any($event.target)).value)">
          <option value="">All Types</option>
          <option value="Single">Single</option>
          <option value="Double">Double</option>
          <option value="Suite">Suite</option>
        </select>
      </div>

      <!-- Filter by Price -->
      <div class="filter-card">
        <h3>Price Range (MAD)</h3>
        <input type="range" min="2000" max="12000" step="500"
               [value]="selectedPrice"
               (input)="onPriceChange(($any($event.target)).value)">
        <p>Up to: {{selectedPrice}} MAD</p>
      </div>

    </div>


    <div class="catalogue-grid">
      <div class="catalogue-card" *ngFor="let room of rooms$ | async">
        <img *ngIf="room.image" [src]="'http://localhost:8093/uploads/' + room.image" [alt]="room.type" class="catalogue-img">
        <div class="catalogue-content">
          <h3 class="room-title">Room {{ room.numero }}</h3>
          <p class="room-title">For {{ room.type }}</p>
          <div class="room-price">{{ room.prix }} MAD/ night</div>
          <div class="room-features">
            <span class="room-feature"><i class="fas fa-bed"></i> {{ room.lit_long }}x{{ room.lit_large }} Bed</span>
          </div>
          <a class="room-link" style="cursor:pointer" (click)="goToRoomDetails(room.id)">
            VIEW DETAILS <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>

