<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Dans index.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- Navigation Bar -->
<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <i class="fas fa-crown"></i>
      <span>ROYELLAS <span class="hotel-name">HOTEL</span></span>
    </div>

    <!-- Search f wast -->
    <div class="nav-search">
      <input type="text" placeholder="Search rooms..." class="search-input">
      <button class="search-btn"><i class="fas fa-search"></i></button>
    </div>

    <ul class="nav-menu">
      <li *ngFor="let item of navItems">
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
        >
          {{ item.name }}
        </a>
      </li>

    </ul>
  </div>
</nav>

<section class="catalogue" id="catalogue">
  <div class="container">

    <h2 class="section-title">ALL ROOMS & SUITES</h2>


    <div *ngIf="loading">Loading rooms...</div>
    <div *ngIf="!loading && rooms.length === 0">No rooms found.</div>

    <div class="catalogue-grid" *ngIf="!loading && rooms.length > 0">
      <div class="catalogue-card" *ngFor="let room of rooms">
        <img [src]="'http://localhost:8093/uploads/' + room.image" [alt]="room.type" class="catalogue-img">
        <div class="catalogue-content">
          <h3 class="room-title">{{ room.type }}</h3>
          <div class="room-price">${{ room.prix }} / night</div>
          <p class="room-desc">{{ room.description }}</p>
          <div class="room-features">
            <span class="room-feature"><i class="fas fa-bed"></i> {{ room.lit_long }}x{{ room.lit_large }} Bed</span>
          </div>
          <a class="room-link" style="cursor:pointer" (click)="goToRoomDetails(room.id)">
            VIEW DETAILS <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

